*
{
  box-sizing: border-box;
}

html
{
  overflow-y: scroll;
}

body
{
  font-family: 'Bree Serif', serif;
  font-size: 18px;
  background: #e2dbf0;
  text-shadow: 1px 1px 2px purple;
  color: #6344a2;
}


.grid
{
  background: #DDD;
}

.grid:after
{
  content: '';
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item
{
  width: 25%;
}

.grid-item
{
  float: left;
  height: 100px;
  width: 100px;
  /*background: #0D8;*/
  /*border: 2px solid black;*/
  border-radius: 30px;
  box-shadow: 2px 2px 2px 1px #6344a2 ;
}

.grid-item--width2
{
  width: 200px;
  height: 200px;
}

.grid-item--width3
{
  width: 300px; 
  height: 300px;
}

.grid-item--width4
{
  width: 350px; 
  height: 350px;
}
/*.grid-item--width3
{
  width: 75%; 
}*/

/*.grid-item--height2
{
  height: 200px;
}*/

img
{
  margin: auto;
  margin-top: 10px;
  box-shadow: 2px 2px 2px 1px purple;
  border-radius: 30px;
}

/*.user-header
{
  display: none;
}*/

/*#twitch-user
{
  position: absolute;
  z-index: 100;
  top: 0px;
}*/

#twitch-user > h1
{
  display: none;
  text-align: center;
  font-size: 5em;
}

@media (max-width: 600px)
{
  #twitch-user > h1
  {
    font-size: 2em;
  }
}

#twitch-user > h2
{
  text-align: center;
  font-size: 2em;
}

.current
{
  font-style: italic;
}

.fa
{
  text-shadow: 2px 2px 2px 1px purple;
}

.fa-plug
{
  color: #b3b3b3;
}

.fa-television
{
  color: #46bf40;
}

.fa-minus-circle
{
  color: #ff6666;
}

#header
{
  text-transform: lowercase;
}
