*
{
  box-sizing: border-box;
}

html
{
  overflow-y: scroll;
}

body
{
  font-size: 18px;
}

.grid
{
  background: #DDD;
}

.grid:after
{
  content: '';
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item
{
  width: 25%;
}

.grid-item
{
  float: left;
  height: 100px;
  width: 100px;
  background: #0D8;
  border: 2px solid black;
}

.grid-item--width2
{
  width: 200px;
  height: 200px;
}

.grid-item--width3
{
  width: 300px; 
  height: 300px;
}

.grid-item--width4
{
  width: 350px; 
  height: 350px;
}
/*.grid-item--width3
{
  width: 75%; 
}*/

/*.grid-item--height2
{
  height: 200px;
}*/

img
{
  margin: auto;
  margin-top: 10px;
}

/*.user-header
{
  display: none;
}*/

/*#twitch-user
{
  position: absolute;
  z-index: 100;
  top: 0px;
}*/

#twitch-user > h1
{
  display: none;
  text-align: center;
}
